.slideshow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.slideshow__arrow {
  background-color: var(--background);
  font-size: 3em;
  margin: 0;
  z-index: 1;
  border-radius: 10px;
  transition: 0.2;
  font-family: 'Raleway', sans-serif;


  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0px 5px var(--secondary);
    transform: translate(0, -5px);
  }
}

.image-container { 
  height: 100%;

  img {
    max-height: 100%;
    max-width: 100%;
    margin:auto
  }
}

.slideshow__visible {
  border-radius: 25px;
}

.slideshow__hidden {
  display: none;
}

.mobile-slideshow {
  margin: 0;

  .mobile-slideshow__arrows {
    display: flex;
    justify-content: center;
    align-items: center;

    .slideshow__arrow {
      margin: 0 5%;
      padding: 0 5%;
    }
  }
}
