.keyboard {
  margin: auto;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  .black {
    display: flex;
    flex-direction: row;

    .key {
      z-index: 10;
      background-color: var(--container-backgroud);
      box-shadow: 0 5px rgb(76, 76, 76);
    }
  }
  .white {
    display: flex;
    flex-direction: row;
    transform: translate(0, -137px);

    .key {
      color: var(--container-backgroud);
      padding-top: 140px;
      background-color: white;
      box-shadow: 0 5px var(--container-backgroud);
    }
  }

  .gap {
    width: 2.5vw;
    padding: 10px;
    margin: 10px 0px;
  }
}

.key {
  // text-align: end;
  color: var(--primary);
  width: 5vw;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 20px 0px;
  border-radius: 25px;
}

.pressed {
  box-shadow: 0 0 !important;
  transform: translate(0, 5px);
}

.instructions {
  color: var(--primary);
  background-color: var(--container-backgroud);
  border-radius: 25px;
  padding: 20px;
  width: fit-content;
  margin: auto;
  margin-top: 10vh;

  .title {
    font-size: 2em;
    margin: 0px;
    text-shadow: 2px 2px var(--secondary);
  }

  .content {
    margin: 0px;
    font-size: 1.5em;
    word-break: break-word;
  }

  .small {
    font-size: 0.5em;
    padding-top: 5px;
  }
}

.visualizer {
  width: 70%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
