.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  @media (max-width: 900px) {
    margin: 0;
  }

  .project-list__project {
    text-decoration-color: var(--secondary);
    width: 60%;
    max-height: 20vh;
    transition: 0.2s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    &:hover {
      max-height: 25vh;
    }

    @media (max-width: 900px) {
      width: 100%;
      margin: 0;
    }

    @media (max-width: 600px) {
      max-height: fit-content;
      &:hover {
        max-height: fit-content;
      }
    }

    .project-list__project-contents {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: 0.2s;
      margin: 20px;

      @media (max-width: 900px) {
        // margin: 0px 20px;s
      }
      @media (max-width: 600px) {
        font-size: 1em;
        margin: 10px;
        flex-direction: column;
        justify-content: center;
      }

      .project-list__project-title {
        transition: 0.2s;

        font-size: 2em;
        color: var(--primary);
        mix-blend-mode: darken;
        margin-right: 40px;

        @media (max-width: 900px) {
          text-align: center;
          margin-right: 0;
          font-size: 1.5em;
        }

        @media (max-width: 300px) {
          font-size: 1em;
        }
      }

      .project-list__project-image {
        transition: 0.2s;
        max-width: 100%;
        max-height: 100%;
        background-color: #88cbfb;
        // margin: 20px;
        border-radius: 25px;
        margin-left: 40px;

        @media (max-width: 600px) {
          margin: 20px;
          margin-top: 10px;
          max-height: 30vh;
        }
      }
    }
  }

  .offset-left {
    margin-left: 20%;
  }

  .offset-right {
    margin-right: 20%;
  }
}

.lazyload,
.lazyloading {
  opacity: 0.5;
  animation: shine 2s infinite;
}
@keyframes shine {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.lazyloaded {
  transition: 0.2s ease-in;
}
