.navigation {
  font-size: 2em;
  color: #FFFFFF;
  fill: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  background-color: #731DD8;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
