.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--container-backgroud);
  border-radius: 25px;
  width: fit-content;
  margin: auto;
}

.contacts-list__contact {
  color: var(--primary);
  font-size: 2em;
  cursor: pointer;
  min-width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-color: var(--secondary);

  .contacts-list__contact-container { 
    background-color: var(--container-backgroud);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    transition: 0.2s;
  }

  &:hover {
    .contacts-list__contact-name {
      text-decoration: underline;
    }

    .contacts-list__contact-container {
        transform: translate(0, -5px);
        box-shadow: 0 5px var(--secondary);
    }
  }

  &:focus {
    outline: none;
  }
}
