.app {
  --background: #ffffff;
  --primary: #000000;
  --secondary: #FF5349;
  --container-backgroud: #c5c5c5;
  background-color: var(--background);
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
}

button,
a {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: bottom;
  padding: 8px;
  border: none;
  margin: 8px;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  fill: inherit;
  background-color: inherit;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
  }

  &:focus {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
  }

  &.active {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
  }
}

.page-title {
  padding-top: 15vh;
  padding-bottom: 10vh;
  font-size: 4em;
  color: var(--primary);
  font-family: 'Fredoka One', cursive;

  @media (max-width: 300px) {
    font-size: 2em;
  }
}

.fullscreen-page {
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}
