body {
  padding-top: 0px;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 1em;
}

.header {
  position: absolute;
  padding: 0px;
  margin-left: 20px;
  z-index: 10;
}

.nav {
  font-size: 2em;
  z-index: 10;
}

.contents {
  font-size: 2em;
  text-align: center;
  padding-top: 40px;
}

.line {
  background-color: black;
  height: 5px;
  animation: grow 1s;
  width: 40px;
  margin: 20px auto;
}

@keyframes grow {
  0% {
    width: 40px;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 40px;
  }
}

.contacts {
  transition: 0.5s;
  width: fit-content;
  margin: auto;
}

.contacts:hover {
  transform: scale(1.1);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#projMenu-contents .center {
  top: 100%;
}

.project-item-container img {
  width: 50%;
  height: 100%;
  object-fit: scale-down;
  filter: drop-shadow(0 0 2px black);
  transition: 0.5s;
}

.cv-item {
  display: flex;
  justify-content: start;
  font-size: 0.8em;
}

.cv-item .left {
  width: 300px;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.cv-item .right {
  width: 400px;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.project-item-container .title {
  width: 50%;
  vertical-align: middle;
}

.project-item-container {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  text-decoration: none;
  color: black;
  font-size: 1em;
  max-width: 600px;
  transition: 0.5s;
}

.project-item-container:hover {
  transform: scale(1.1);
}

.project-item-container:hover img {
  filter: drop-shadow(0 0 5px black);
}

.li {
  padding: 10px 0;
  cursor: pointer;
  display: block;
}

@keyframes growIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.animated-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: animateText 4s infinite;
}

@keyframes animateText {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.nav .li {
  width: fit-content;
}

canvas {
  z-index: -5;
}

.li p {
  transition: 1s;
}

i {
  font-size: 24px;
}

.contents .li {
  text-decoration: underline;
}

.li a {
  color: black;
}

.contents p {
  max-width: 600px;
  margin: auto;
}

.audio-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.audio-icon i {
  width: 32px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 0px;
  border: 2px solid white;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

/* landscape tablet breakpoint */
@media all and (max-width: 1200px) {}

/* tablet breakpoint */
@media all and (max-width: 900px) {
  .header {
    position: relative;
  }

  h1 {
    font-size: 3em;
  }

  body {
    padding-top: 20px;
  }

  .contents {
    position: relative;
    height: 200px;
    margin: 20px;
  }

  .center {
    position: relative;
    top: 0;
    left: 0;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .project-item-container {
    margin: auto;
  }

  #projMenu-contents .center {
    top: 0;
  }
}

/* mobile breakpoint */
@media all and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }

  body {
    padding-top: 20px;
  }

  .project-item-container {
    font-size: 0.75em;
  }

  .cv-item {
    font-size: 0.75em;
  }
}