body {
  padding-top: 0px;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 1em;
}

.header {
  position: absolute;
  padding: 0px;
  margin-left: 20px;
}

.nav {
  font-size: 2em;
}

.contents {
  font-size: 2em;
  text-align: center;
  padding-top: 40px;
}

.center {
  margin: 0;
  position: absolute;
  top: 400px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
}

#slideshow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 400px;
}

#video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: auto;
  margin-top: 40px;
}

#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#audio {
  padding-top: 40px;
}
#bottom {
  padding-bottom: 40px;
}

.slide {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-item-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.project-item-container .title {
  width: 200px;
  vertical-align: middle;
}

.project-item-container {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

.project-item-container {
  text-decoration: none;
  color: black;
}

.li {
  padding: 10px 0;
  cursor: pointer;
  display: block;
}

.li p {
  transition: 1s;
}

i {
  font-size: 24px;
}

.contents .li {
  text-decoration: underline;
}

.li a {
  color: black;
}

.nav .li a {
  text-decoration: none;
}

.contents p {
  max-width: 600px;
  margin: auto;
  font-size: 0.75em;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 400px;
  max-height: 300px;
  padding: 0 0 20px 0;
}

#loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #808080;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.arrow {
  display: inline;
  cursor: pointer;
  background-color: #f3f3f3;
  opacity: 0.8;
  font-size: 2em;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 0px;
  border: 2px solid white;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

/* landscape tablet breakpoint */
@media all and (max-width: 1200px) {
}

/* tablet breakpoint */
@media all and (max-width: 900px) {
  h1 {
    font-size: 4em;
  }

  .header {
    position: relative;
  }

  .contents {
    position: relative;
    height: 0px;
  }

  .center {
    position: relative;
    top: 0;
    left: 0;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .project-item-container {
    margin: auto;
  }

  #loading {
    margin: auto;
    margin-top: 50px;
  }

  #projMenu-contents .center {
    top: 0;
  }

  #video {
    width: 70%;
    padding-bottom: 39.375%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* mobile breakpoint */
@media all and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }

  body {
    padding-top: 20px;
  }
}
