body {
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    text-align: center;
}

h1{
    font-size: 4em;
    margin-bottom: 20px;
}

h2{
    font-size: 1em;
    margin-bottom: 40px;
}

.nav-item{
    font-size: 4em;
    padding: 5px;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.5s;
}

.contents{
    margin-top: 40px;
    font-size: 3em;
    width: 100%;
    display: none;
      
}

.list-item{
    padding: 10px;
    transition: 1s;
    cursor: pointer;
    text-decoration: underline;
}

.list-item a{
    color: black;
    
}

.contents p{
    font-size: 0.5em;
    max-width: 600px;
    margin: auto;
}