.homepage {
  width: 100vw;
  // height: 100vh;
  padding-bottom: 30vh;
}

// .top-page {
// height: 100vh;
// }

.contents {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(355deg);
  height: 80vh;
  padding: 20px;
}

.megaphone {
  font-size: 40vmin;
  transition: 0.2s;
  color: var(--primary-light);

  &:hover {
    transform: scale(1.1)!important;
  }
}

.lines {
  display: flex;
  flex-direction: column;
  font-size: 5vmin;
  margin-left: 20px;
}

.line {
  padding: 20px;
  transform-origin: center left;
  transition: 0.2s;
  width: fit-content;
}

.one {
  transform: rotate(350deg);
  font-size: 10vmin;
  font-family: "Fredoka One", cursive;
  color: var(--primary-light);
  font-family: "Fredoka One", sans-serif;
  background-position: center;
  background-size: 0%;
  background-color: var(--primary);

  background-repeat: no-repeat;
  background-clip: text;
  mix-blend-mode: darken;
  color: transparent;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: unfill;
  animation-duration: 0.2s;
  animation-iteration-count: 1;

  &:hover {
    animation-name: fill;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    transform: scale(1.1) rotate(350deg);
  }
}

.loading {
  animation-duration: 0s;
}

@keyframes fill {
  0% {
    background-size: 0%;
    background-image: radial-gradient(
      circle,
      var(--secondary) 100%,
      var(--primary) 100%
    );
  }
  100% {
    background-size: 100%;
    background-image: radial-gradient(
      circle,
      var(--secondary) 100%,
      var(--primary) 100%
    );
  }
}

@keyframes unfill {
  100% {
    background-size: 0%;
    background-image: radial-gradient(
      circle,
      var(--secondary) 100%,
      var(--primary) 100%
    );
  }
  0% {
    background-size: 100%;
    background-image: radial-gradient(
      circle,
      var(--secondary) 100%,
      var(--primary) 100%
    );
  }
}

.two {
  &:hover {
    transform: scale(1.1);
  }
}

.three {
  transform: rotate(10deg);

  &:hover {
    transform: rotate(10deg) scale(1.1);
  }
}

.four {
  font-size: 4vmin;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -10vh;
  width: auto;
}

.project-title {
  margin-left: 20vw;
  padding-bottom: 10vh;
  font-size: 4em;
  color: var(--primary);
  font-family: "Fredoka One", cursive;

  @media (max-width: 600px) {
    margin-left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
  }

  @media (max-width: 300px) {
    font-size: 2em;
  }
}

.more-button {
  width: fit-content;
  margin: auto;
  font-size: 2em;
}

.home-button {
  border-radius: 25px;
  border: 1px solid var(--tertiary);
  color: var(--tertiary);
  padding: 10px;
  transition: 0.2s;
  z-index: 1;
  &:hover {
    transform: scale(1.1);
  }
}

.inline {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.about-paragraph {
  color: var(--primary);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  width: 80vw;
  margin-bottom: 80px;

  @media (max-width: 600px) {
    width: 100vw;
  }

  .about-paragraph__section {
    border-radius: 25px;
    border: 1px solid var(--primary);
    padding: 10px;
    width: 50%;
    margin: 10px;
    font-size: 1.5em;
    transition: 0.2s;

    // &:hover{
    //   transform: scale(1.1);
    //   border: 5px dotted var(--secondary);

    // }
  }

  .about-paragraph__main {
    font-size: 1.5em;
  }
}

.arrow {
  // position: relative;
  z-index: 10;
  margin-top: 5vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-bottom: 8px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid var(--primary);
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

[data-aos="Out"] {
  opacity: 1;
  transition-property: opacity;
  &.aos-animate {
    opacity: 0;
  }
}
